/* 햄버거 메뉴 버튼 */
.menuToggle {
    position: absolute;
    top: 5px;
    left: 20px;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0 5px 0 5px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

.menuToggle:hover {
    background-color: var(--background);
}